body{
    width: 100vw;
    height: 100vh;
    margin:0;
}
h1{
    margin:0;
    padding-top: 1vh;
    text-align: center;
    font-size:2vw;
    font-family: "Gill Sans", sans-serif;
}
p{
    position: absolute;
    left:0px;
    text-align: center;
    font-size:2.5vw;
    font-weight: bolder;
    font-family: monospace;
}
#buttons{
    width:45vw;
    padding-top: 1.9vw;
}
.o, .o:focus{
    outline: none;
    background: transparent;
    width: 11vw;
    height:10vw;
    margin:0 0.8vw 0.5vw 1.2vw;
    padding: 0;
    border:none;
    background-image: url("images/o.png")  ;
    cursor: pointer;
    background-size:10.3vw;
    background-repeat: no-repeat;
}
.x, .x:focus{
    outline: none;
    width: 11vw;
    height:10vw;
    margin:0 0.8vw 0.5vw 1.2vw;
    padding: 0;
    border:none;
    background: transparent;
    background-image: url("images/x.png");
    cursor: pointer;
    background-size:10.3vw;
    background-repeat: no-repeat;
}
.btn{
    width: 11vw;
    height:10vw;
    margin:0 0.8vw 0.5vw 1.2vw;
    padding:0;
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.btn:focus,.btn:hover{
    outline: none;
    border:none;
}
#container{
    position:absolute;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%);
    width: 40vw;
    height: 40vw;
    background-image: url("images/bg.png");
    background-size: 40vw;
    background-repeat: no-repeat
}
